.card-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    gap: 5px;
}

.card {
    background-color: #ffd2b4;
    border-radius: 10px;
    box-shadow: 1px 2px 2px;
    width: 49%;
    text-align: center;
    font-family: 'Georgia', serif;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
    height: 190px;
    object-fit: cover;
}

.card h2 {
    margin-top: 10px;
    font-size: 30px;
    color: #264653;
    font-weight: bold;
    font-family: 'Georgia', serif;
}

.card p {
    color: #555;
    margin: 10px 0;
}

.card button {
    padding: 10px 15px;
    margin-bottom: 15px;
    background-color: #e76f51;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Georgia', serif;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #f4a261;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}