body {
    margin-top: 140px;
    background-color: #fefae0;
}

.section-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

/* General Section Styles */
.section-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 85vh;
    border-radius: 10px;
    background-color: #ffd2b4;
    border: 2px solid #254f5f;
    overflow: hidden;
    margin-bottom: 3rem;
    padding: 0;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    box-sizing: border-box;
}

.section-container img {
    width: 100%;
    object-fit: cover;
    border: 2px solid #254f5f;
}

/* Image on Top for Sections */
.section-top-image {
    display: flex;
    flex-direction: column;
}

.section-top-image img {
    height: 40vh;
}

.section-top-image .section-content {
    padding: 20px;
    flex-grow: 1;
    border-bottom: 2px solid #254f5f;
}

/* Image on Bottom for Sections */
.section-bottom-image {
    display: flex;
    flex-direction: column-reverse;
}

.section-bottom-image img {
    height: 40vh;
}

.section-bottom-image .section-content {
    padding: 20px;
    flex-grow: 1;
}

/* Text Content for Sections */
.section-content h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #264653;
}

.section-content p {
    font-size: 1rem;
    color: #555;
    line-height: 1.8;
}

@media (max-width: 1024px) {
    .section-container {
        width: 100%;
        height: 80vh;
        gap: 5px;
    }
}
